%text-style {
    color: white;
    font-family: 'Inter';
    font-weight: 400;
}

.developer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 124px;
    &_photo {
        object-fit: cover;
        margin-left: 91px;
        margin-right: 39px;
        border-radius: 15px;
        width: 302px;
        height: 361px; 
    }
    &_about {
        display: flex;
        background-image: url(../img/background.svg);
        background-repeat: no-repeat;
        background-position: 91px 149px;
    }
    &_text {
        background: transparent;
    }
    &_name1 {
        @extend %text-style;
        font-size: 32px;
        line-height: 39px;
        margin-top: 38px;
        margin-bottom: 6px;
    }
    &_name2 {
        @extend %text-style;
        font-size: 20px;
        line-height: 24px;
    }
    &_info{
        @extend %text-style;
        font-size: 24px;
        line-height: 37px;
        margin-top: 74px;
        padding-right: 280px;
        background: transparent;
    }
}
.awards {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-items: center;
    margin-right: 133px;
    &_header {
        @extend %text-style;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        margin-bottom: 32px;
    }
    &_slider1 {
        border-radius: 25px;
    }
}