.like_games {
    margin-bottom: 161px;
    &_header {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 72px;
    }
}