$bg-color: #090D21;
$indents: 73px;
%text-style {
    font-family: 'Inter';
    font-weight: 400;
    background: transparent;
    color: #FFFFFF;
}

.top_games {
    padding: 61px 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 49px;
    margin-left: $indents;
    margin-right: $indents;
    position: center;
    margin-bottom: 161px;
    background: $bg-color;
    box-shadow: 0px 0px 50px #9546F7;
    border-radius: 20px;
    &_header {
        @extend %text-style;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin-bottom: 86px;
    }
}
.tab {
    &_h {
        @extend %text-style;
        font-size: 36px;
        line-height: 44px;
    }
    &_p {
        @extend %text-style;
        font-size: 24px;
        line-height: 29px;
    }
}
.game {
    display: grid;
    grid-template-columns: 2fr 2fr 2.5fr 3fr;
    align-items: center;
    background: $bg-color;
    &_number {
        @extend %text-style;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        text-shadow: 0px 0px 30px #FFFFFF;
    }
    &_img {
        object-fit: cover;
        width: 214px;
        height: 270px;
        border-radius: 10px;
    }
    &_text {
        background: transparent;
    }
    &_mark {
        @extend %text-style;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        text-shadow: 0px 0px 30px #FFFFFF;
    }
}