button, input {
  border: none;
  outline: none;
  border-radius: 30px;
}

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 73px;
  box-shadow: 0px -2px 86px #18BCA1;
}
.header_logo {
  width: 120px;
  height: 85px;
  padding-bottom: 5px;
}
.header_profile {
  margin-left: 54px;
}

form {
  position: relative;
  width: 345px;
  margin-left: 751px;
}

input {
  width: 300px;
  height: 35px;
  background: white;
  padding-left: 15px;
  padding-right: 45px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 14px;
  line-height: 58px;
}

button {
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: transparent;
  cursor: pointer;
}

.awards_header, .game_annotation, .game_name2, .game_name1 {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  background: transparent;
}

.game {
  display: flex;
  justify-content: space-between;
  margin-bottom: 124px;
}
.game_photo {
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 76px;
  margin-right: 48px;
  border-radius: 15px;
  width: 273px;
  height: 326px;
}
.game_about {
  display: flex;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: 76px 138px;
  background-size: 818px 188px;
}
.game_text {
  background: transparent;
}
.game_name1 {
  font-size: 32px;
  line-height: 39px;
  margin-top: 38px;
  margin-bottom: 6px;
}
.game_name2 {
  font-size: 20px;
  line-height: 24px;
}
.game_annotation {
  font-size: 24px;
  line-height: 37px;
  margin-left: 157px;
  margin-top: 103px;
  padding-right: 174px;
}

.awards {
  display: flex;
  flex-direction: column;
  align-items: end;
  align-items: center;
  margin-right: 133px;
}
.awards_header {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 32px;
}
.awards_slider1 {
  border-radius: 25px;
}

.game_info {
  margin-top: 88px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background: #080A09;
}
.game_info_text {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  padding-left: 213px;
  background: transparent;
}
.game_info_text p {
  background: transparent;
}

.rating_critics_text, .rating_game_text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.rating_critics_mark, .rating_game_mark {
  font-family: "Inter";
  font-weight: 400;
  font-size: 96px;
  line-height: 116px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 0px 15px #FFFFFF;
  margin-top: 165px;
}

.rating {
  padding-top: 116px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 225px;
}
.rating_game {
  text-align: center;
}
.rating_critics {
  text-align: center;
}
.avatar_mark, .avatar_name, .review_body, .reviews_section_p {
  font-family: "Inter";
  font-weight: 400;
  color: #FFFFFF;
  background: transparent;
}

.reviews_section {
  margin-bottom: 132px;
}
.reviews_section_p {
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  margin-bottom: 58px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 44px;
       column-gap: 44px;
  margin: 0 73px;
}

.review {
  background-color: #090E22;
  border-radius: 20px;
  min-height: 501px;
  box-shadow: 0px 0px 30px #9546F7;
}
.review_header {
  background-color: #503FAF;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  align-items: center;
  padding: 10px 40px 10px 40px;
}
.review_body {
  background: transparent;
  padding: 45px 40px;
  font-size: 36px;
  line-height: 44px;
}

.avatar {
  -o-object-fit: cover;
     object-fit: cover;
  width: 61px;
  height: 61px;
  border-radius: 30px;
}
.avatar_name {
  font-size: 40px;
  line-height: 48px;
}
.avatar_mark {
  font-size: 36px;
  line-height: 44px;
  text-shadow: 0px 0px 18px #FFFFFF;
}

.mail_text, .phone_text {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-left: 11px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  box-shadow: 0px -1px 51px #18BCA1;
}
.footer_logo {
  width: 151px;
  height: 107px;
  margin-left: 114px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  margin-bottom: 24px;
}
.mail {
  display: flex;
}
.social {
  margin-right: 103px;
  display: flex;
  flex-direction: column;
}
.social_text {
  color: white;
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 24px;
}
.social_img {
  display: flex;
  justify-content: space-around;
}/*# sourceMappingURL=game.css.map */